In [6]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import sklearn as sk

import os
os.chdir('E:\Programming\ZJ\IDEA\DataAnalysis\Python\sk-learn\data')
data=pd.read_csv('tianchi/coupon/ccf_offline_stage1_train.csv')

train=data.apply(lambda X:X.apply(lambda x:np.NaN if x=='null' else x))
train=train[True^train['Coupon_id'].isnull()]

In [8]:
train=train.astype({'User_id':np.int,'Merchant_id':np.int,'Coupon_id':np.int,'Discount_rate':np.str,'Distance':np.float,'Date_received':np.float,'Date':np.float})

In [9]:
train

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>User_id</th>
      <th>Merchant_id</th>
      <th>Coupon_id</th>
      <th>Discount_rate</th>
      <th>Distance</th>
      <th>Date_received</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1439408</td>
      <td>4663</td>
      <td>11002</td>
      <td>150:20</td>
      <td>1.0</td>
      <td>20160528.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1439408</td>
      <td>2632</td>
      <td>8591</td>
      <td>20:1</td>
      <td>0.0</td>
      <td>20160217.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1439408</td>
      <td>2632</td>
      <td>1078</td>
      <td>20:1</td>
      <td>0.0</td>
      <td>20160319.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1439408</td>
      <td>2632</td>
      <td>8591</td>
      <td>20:1</td>
      <td>0.0</td>
      <td>20160613.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1439408</td>
      <td>2632</td>
      <td>8591</td>
      <td>20:1</td>
      <td>0.0</td>
      <td>20160516.0</td>
      <td>20160613.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1832624</td>
      <td>3381</td>
      <td>7610</td>
      <td>200:20</td>
      <td>0.0</td>
      <td>20160429.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2029232</td>
      <td>3381</td>
      <td>11951</td>
      <td>200:20</td>
      <td>1.0</td>
      <td>20160129.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2029232</td>
      <td>450</td>
      <td>1532</td>
      <td>30:5</td>
      <td>0.0</td>
      <td>20160530.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2029232</td>
      <td>6459</td>
      <td>12737</td>
      <td>20:1</td>
      <td>0.0</td>
      <td>20160519.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2747744</td>
      <td>6901</td>
      <td>1097</td>
      <td>50:10</td>
      <td>NaN</td>
      <td>20160606.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>196342</td>
      <td>1579</td>
      <td>10698</td>
      <td>20:1</td>
      <td>1.0</td>
      <td>20160606.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2223968</td>
      <td>3381</td>
      <td>9776</td>
      <td>10:5</td>
      <td>2.0</td>
      <td>20160129.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>73611</td>
      <td>2099</td>
      <td>12034</td>
      <td>100:10</td>
      <td>NaN</td>
      <td>20160207.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>163606</td>
      <td>1569</td>
      <td>5054</td>
      <td>200:30</td>
      <td>10.0</td>
      <td>20160421.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>3273056</td>
      <td>4833</td>
      <td>7802</td>
      <td>200:20</td>
      <td>10.0</td>
      <td>20160130.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>94107</td>
      <td>3381</td>
      <td>7610</td>
      <td>200:20</td>
      <td>2.0</td>
      <td>20160412.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>253750</td>
      <td>6901</td>
      <td>2366</td>
      <td>30:5</td>
      <td>0.0</td>
      <td>20160518.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>253750</td>
      <td>8390</td>
      <td>7531</td>
      <td>20:5</td>
      <td>0.0</td>
      <td>20160327.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>343660</td>
      <td>4663</td>
      <td>11002</td>
      <td>150:20</td>
      <td>NaN</td>
      <td>20160528.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>376492</td>
      <td>1041</td>
      <td>13490</td>
      <td>30:5</td>
      <td>2.0</td>
      <td>20160127.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1964720</td>
      <td>7884</td>
      <td>6704</td>
      <td>20:1</td>
      <td>10.0</td>
      <td>20160215.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>31</th>
      <td>1113008</td>
      <td>3621</td>
      <td>2705</td>
      <td>20:5</td>
      <td>0.0</td>
      <td>20160524.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>32</th>
      <td>1113008</td>
      <td>2277</td>
      <td>1495</td>
      <td>30:10</td>
      <td>0.0</td>
      <td>20160523.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>33</th>
      <td>1113008</td>
      <td>1361</td>
      <td>11166</td>
      <td>20:1</td>
      <td>0.0</td>
      <td>20160515.0</td>
      <td>20160521.0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>1113008</td>
      <td>1361</td>
      <td>11166</td>
      <td>20:1</td>
      <td>0.0</td>
      <td>20160521.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36</th>
      <td>1113008</td>
      <td>1041</td>
      <td>11197</td>
      <td>30:5</td>
      <td>2.0</td>
      <td>20160114.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>37</th>
      <td>2881376</td>
      <td>5341</td>
      <td>111</td>
      <td>30:5</td>
      <td>1.0</td>
      <td>20160207.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>38</th>
      <td>2881376</td>
      <td>8390</td>
      <td>7531</td>
      <td>20:5</td>
      <td>0.0</td>
      <td>20160321.0</td>
      <td>20160329.0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>2881376</td>
      <td>5341</td>
      <td>111</td>
      <td>30:5</td>
      <td>1.0</td>
      <td>20160207.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>41</th>
      <td>4061024</td>
      <td>2709</td>
      <td>2840</td>
      <td>100:10</td>
      <td>10.0</td>
      <td>20160129.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1754833</th>
      <td>1437872</td>
      <td>7706</td>
      <td>416</td>
      <td>100:10</td>
      <td>4.0</td>
      <td>20160129.0</td>
      <td>20160202.0</td>
    </tr>
    <tr>
      <th>1754834</th>
      <td>1437872</td>
      <td>7706</td>
      <td>12097</td>
      <td>100:10</td>
      <td>4.0</td>
      <td>20160202.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754835</th>
      <td>1437872</td>
      <td>3381</td>
      <td>11951</td>
      <td>200:20</td>
      <td>2.0</td>
      <td>20160129.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754839</th>
      <td>3400544</td>
      <td>6454</td>
      <td>14031</td>
      <td>100:10</td>
      <td>2.0</td>
      <td>20160131.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754843</th>
      <td>98091</td>
      <td>1553</td>
      <td>10027</td>
      <td>0.95</td>
      <td>10.0</td>
      <td>20160510.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754844</th>
      <td>457900</td>
      <td>7907</td>
      <td>13118</td>
      <td>150:30</td>
      <td>NaN</td>
      <td>20160418.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754845</th>
      <td>2876768</td>
      <td>6901</td>
      <td>2107</td>
      <td>30:5</td>
      <td>0.0</td>
      <td>20160531.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754848</th>
      <td>4056416</td>
      <td>7177</td>
      <td>3469</td>
      <td>20:1</td>
      <td>NaN</td>
      <td>20160514.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754849</th>
      <td>4056416</td>
      <td>2420</td>
      <td>10883</td>
      <td>100:30</td>
      <td>NaN</td>
      <td>20160613.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754850</th>
      <td>179830</td>
      <td>3381</td>
      <td>1807</td>
      <td>300:30</td>
      <td>0.0</td>
      <td>20160124.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754851</th>
      <td>179830</td>
      <td>4059</td>
      <td>7166</td>
      <td>100:10</td>
      <td>7.0</td>
      <td>20160124.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754853</th>
      <td>179830</td>
      <td>6434</td>
      <td>10050</td>
      <td>50:5</td>
      <td>1.0</td>
      <td>20160123.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754854</th>
      <td>179830</td>
      <td>6284</td>
      <td>4567</td>
      <td>50:10</td>
      <td>1.0</td>
      <td>20160124.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754855</th>
      <td>179830</td>
      <td>6284</td>
      <td>7379</td>
      <td>50:10</td>
      <td>1.0</td>
      <td>20160124.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754856</th>
      <td>179830</td>
      <td>3710</td>
      <td>13056</td>
      <td>150:10</td>
      <td>4.0</td>
      <td>20160124.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754857</th>
      <td>179830</td>
      <td>2099</td>
      <td>12034</td>
      <td>100:10</td>
      <td>1.0</td>
      <td>20160124.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754858</th>
      <td>179830</td>
      <td>4660</td>
      <td>1480</td>
      <td>100:10</td>
      <td>0.0</td>
      <td>20160125.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754859</th>
      <td>179830</td>
      <td>5341</td>
      <td>7751</td>
      <td>50:10</td>
      <td>0.0</td>
      <td>20160123.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754860</th>
      <td>179830</td>
      <td>7555</td>
      <td>17</td>
      <td>30:5</td>
      <td>7.0</td>
      <td>20160123.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754861</th>
      <td>179830</td>
      <td>760</td>
      <td>3237</td>
      <td>20:5</td>
      <td>0.0</td>
      <td>20160124.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754862</th>
      <td>179830</td>
      <td>2099</td>
      <td>12034</td>
      <td>100:10</td>
      <td>1.0</td>
      <td>20160203.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754866</th>
      <td>3795296</td>
      <td>5341</td>
      <td>111</td>
      <td>30:5</td>
      <td>0.0</td>
      <td>20160129.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754869</th>
      <td>188086</td>
      <td>6568</td>
      <td>4723</td>
      <td>30:1</td>
      <td>0.0</td>
      <td>20160415.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754873</th>
      <td>212662</td>
      <td>2934</td>
      <td>5686</td>
      <td>30:5</td>
      <td>2.0</td>
      <td>20160321.0</td>
      <td>20160330.0</td>
    </tr>
    <tr>
      <th>1754876</th>
      <td>212662</td>
      <td>3532</td>
      <td>5267</td>
      <td>30:5</td>
      <td>1.0</td>
      <td>20160322.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754877</th>
      <td>212662</td>
      <td>3021</td>
      <td>3739</td>
      <td>30:1</td>
      <td>6.0</td>
      <td>20160504.0</td>
      <td>20160508.0</td>
    </tr>
    <tr>
      <th>1754878</th>
      <td>212662</td>
      <td>2934</td>
      <td>5686</td>
      <td>30:5</td>
      <td>2.0</td>
      <td>20160321.0</td>
      <td>20160322.0</td>
    </tr>
    <tr>
      <th>1754880</th>
      <td>212662</td>
      <td>3021</td>
      <td>3739</td>
      <td>30:1</td>
      <td>6.0</td>
      <td>20160508.0</td>
      <td>20160602.0</td>
    </tr>
    <tr>
      <th>1754882</th>
      <td>752472</td>
      <td>7113</td>
      <td>1633</td>
      <td>50:10</td>
      <td>6.0</td>
      <td>20160613.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1754883</th>
      <td>752472</td>
      <td>3621</td>
      <td>2705</td>
      <td>20:5</td>
      <td>0.0</td>
      <td>20160523.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>1053282 rows × 7 columns</p>
</div>